@import '../../Variables.scss';

#Inicio {
    height: 100vh;
    width: 100vw;

    header {
        align-items: center;
        display: flex;
        height: 8vh;
        justify-content: space-between;
        padding: 0 2rem;
        width: 100%;

        #logo {
            height: 80%;
            width: auto;

            img {
                align-items: center;
                display: flex;
                height: 100%;
                justify-content: center;
                overflow: hidden;
                width: 100%;
            }
        }

        #nav {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: flex-end;
            width: auto;

            a {
                color: $azul03;
                text-decoration: none;
                margin-left: 2rem;

                &:hover {
                    color: $azul01;
                    cursor: pointer;
                }
            }

            #localizacao {
                border-bottom: 2px solid $azul01;

                &:hover {
                    color: $azul03;
                }
            }
        }
    }

    main {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 92vh;
        justify-content: center;
        width: 100%;

        #text01 {
            align-items: center;
            display: flex;
            height: auto;
            justify-content: center;
            margin: 2rem 0 0 0;
            width: 100%;

            p {
                font-size: 32px;
                font-weight: 700;
            }
        }

        #container01 {
            align-items: center;
            display: flex;
            height: auto;
            justify-content: flex-start;
            margin: 2rem 0 4rem 0;
            width: 60%;
        }

        #container02 {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            width: 60%;

            .container03 {
                align-items: flex-start;
                display: flex;
                height: 50%;
                justify-content: space-between;
                width: 100%;

                .box01 {
                    align-items: center;
                    background-color: #eee;
                    border-radius: 1rem;
                    box-shadow: 5px 5px 10px 0 #00000025;
                    display: flex;
                    flex-direction: column;
                    height: 80%;
                    justify-content: center;
                    width: 15vw;

                    img {
                        height: 10vh;
                        margin-bottom: 1rem;
                        overflow: hidden;
                        width: auto;
                    }

                    &:hover {
                        cursor: pointer;
                        
                        p {
                            color: $azul01;
                        }
                    }
                }
            }
        }
    }

    #fundo {
        align-items: center;
        background-color: #00000050;
        display: flex;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;

        #modal {
            align-items: center;
            background-color: #fff;
            border-radius: 1rem;
            box-shadow: 5px 5px 10px 0 #00000025;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: center;
            padding: 1rem;
            width: auto;

            #row {
                align-items: center;
                display: flex;
                justify-content: flex-end;
                height: auto;
                width: 100%;
            }

            #operacao {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                height: auto;
                justify-content: center;
                padding: 2rem 6rem 4rem 6rem;
                width: auto;

                #text02 {
                    align-items: center;
                    display: flex;
                    height: auto;
                    justify-content: center;
                    margin-bottom: 4rem;
                    width: 100%;

                    p {
                        color: $azul01;
                        font-size: 24px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}